{% extends 'layout.html' %}

{% block title %} Register {% endblock %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label>{{field.label_tag}}</label>
        {{field}}
        {% for error in field.errors %}
        <small class="alert alert-danger">{{ error }}</small>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{% endblock %}